<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="assets/css/style_bootstrap.css">
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
</head>
<body>   
    <div class="panel-body">
        <div style="width:100%;">  
            <form id="assign_cohort" enctype="multipart/form-data" name="assign_cohort" action="assign/add.php" method="post">
                <div class="form-group row  fitem ">
                    <div class="col-sm-6">
                        <h3>Add New Organization</h3>
                    </div>
                </div>
                <div class="form-group row  fitem ">
                    <div class="col-sm-3"> 
                        <span class="float-sm-right text-nowrap">
                            <abbr class="initialism text-danger" title="Required"><i class="icon fa fa-exclamation-circle text-danger fa-fw " aria-hidden="true" title="Required" aria-label="Required"></i></abbr>                                    
                        </span>
                        <label class="col-form-label d-inline " for="id_name">
                            Name
                        </label>
                    </div>
                    <div class="col-sm-9">
                        <input name = "name" id = "id_name" />
                    </div>
                </div>
                <div class="form-group row  fitem ">
                    <div class="col-sm-3"> 
                        <span class="float-sm-right text-nowrap">
                            <abbr class="initialism text-danger" title="Required"><i class="icon fa fa-exclamation-circle text-danger fa-fw " aria-hidden="true" title="Required" aria-label="Required"></i></abbr>                                    
                        </span>
                        <label class="col-form-label d-inline " for="id_email">
                            Email
                        </label>
                    </div>
                    <div class="col-sm-9">
                        <input type="email" name = "email" id = "id_email" />
                    </div>
                </div>
                <div class="form-group row  fitem ">
                    <div class="col-sm-3"> 
                        <label class="col-form-label d-inline " for="id_phone">
                            Phone
                        </label>
                    </div>
                    <div class="col-sm-9">
                        <input name = "phone" id = "id_phone" />
                    </div>
                </div>   
                <div class="form-group row  fitem ">
                    <div class="col-sm-3"> 
                        <label class="col-form-label d-inline " for="id_city">
                            City
                        </label>
                    </div>
                    <div class="col-sm-9">
                        <input name = "city" id = "id_city" />
                    </div>
                </div>
                <div class="form-group row  fitem ">
                    <div class="col-sm-3"> 
                        <label class="col-form-label d-inline " for="id_street">
                            Street
                        </label>
                    </div>
                    <div class="col-sm-9">
                        <input name = "street" id = "id_street" />
                    </div>
                </div>
                <div class="form-group row  fitem ">
                    <div class="col-sm-3"> 
                        <label class="col-form-label d-inline " for="id_country">
                            Country
                        </label>
                    </div>
                    <div class="col-sm-9">
                        <input name = "country" id = "id_country" />
                    </div>
                </div>            
                <div class="form-group row  fitem ">
                    <div class="col-sm-3"> 
                        <label class="col-form-label d-inline " for="id_state">
                            State
                        </label>
                    </div>
                    <div class="col-sm-9">
                        <input name = "state" id = "id_state" />
                    </div>
                </div>
                <div class="form-group row fitem ">
                    <div class="col-sm-3"> 
                        <label class="col-form-label d-inline " for="id_zip">
                            Zip
                        </label>
                    </div>
                    <div class="col-sm-9">
                        <input name = "zip" id = "id_zip" />
                    </div>
                </div>
                <div class="form-group row fitem ">
                    <div class="col-sm-3"> 
                        <label class="col-form-label d-inline " for="id_logo">
                            Logo
                        </label>
                    </div>
                    <div class="col-sm-9">
                        <input name = "logo" id = "id_logo" />
                    </div>
                </div>
                <div class="form-group row  fitem ">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9">
                        <input type = "submit" value="Submit" id="btn_assign_cohort" />
                        <input type = "reset" value="Cancel" id="btn_assign_cohort" />
                    </div>
                </div>
                </form>
        </div>
    </div>    
</body>
</html>